.film-page__content {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-poster {
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 10px;
}
.content-poster__image {
    height: 50%;
    width: 50%;
}
.content-information {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.content-information__block {
    width: 80%;
    height: 10%;
    padding: 10px;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
}
.block__title {
    display: flex;
    font-size: 2vh;
}
.genre-block__list {
    list-style: none;
    display: flex;
    margin: 0;
}
.list-element {
    margin-left: 5px;
}
.actors-link {
    margin-left: 5px;
    color: black;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition-duration: 0.4s;
    text-decoration: none;
}
.actors-link:hover {
    border-bottom: 2px solid black;
}
.actors-link:visited {
    color: black;
}
.function-block {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.function-block__button {
    height: 70%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 0;
}
.favorite-image, .watch-later__image {
    height: 100%;
    width: 100%;
    transition-duration: 0.4s;
    cursor: pointer;
}
.favorite-image:hover {
    fill: red;
}
.favorite-image__true {
    fill: red
}
.watch-later__image:hover {
    fill: yellow;
}
.watch-later__image-true {
    fill: yellow;
}