.header {
  width: 100%;
  height: 10vh;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header .header-nav {
  display: flex;
  width: 90%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.header .header-nav .header-nav__list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header .header-nav .header-nav__list .nav-list__element {
  text-decoration: none;
  color: #d6d6d6;
  transition-duration: 0.4s;
  border-bottom: 1px solid transparent;
  padding: 5px 10px;
}
.header .header-nav .header-nav__list .nav-list__element:hover {
  border-bottom: 1px solid #d6d6d6;
}
.header .header-nav .header-nav__list .nav-list__element:visited {
  color: #d6d6d6;
}
.header .header-button__exit {
  width: 5%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.header .header-button__exit .button-exit__image {
  width: 100%;
  height: 100%;
}

.main-login {
  width: 100%;
  display: flex;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #d6d6d6;
}
.main-login .login-header__text {
  width: 90%;
  padding: 20px;
  border-bottom: 3px solid #222222;
  text-align: center;
  border-radius: 3px;
  color: #222222;
}
.main-login .error-text {
  font-size: 2vh;
  color: rgb(153, 0, 0);
  transition-duration: 0.4s;
}
.main-login .error-text__no {
  font-size: 2vh;
  color: transparent;
  transition-duration: 0.4s;
}
.main-login .main-login__input {
  height: 10%;
  width: 60%;
  min-height: 50px;
  border-radius: 12px;
  outline: 0;
  border: 1px solid #222222;
  text-indent: 10px;
  color: #222222;
  margin-top: 5%;
}
.main-login .main-login__button {
  height: 10%;
  width: 50%;
  min-height: 50px;
  border-radius: 12px;
  transition-duration: 0.4s;
  border: 1px solid #222222;
  text-indent: 10px;
  color: #222222;
  background-color: transparent;
  margin-top: 5%;
  cursor: pointer;
}
.main-login .main-login__button:hover {
  background-color: #222222;
  color: #d6d6d6;
}

.main-content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
  background-color: #d6d6d6;
}
.main-content .about-block {
  width: 90%;
  height: 15vh;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-content .about-block .about-block__information {
  width: 80%;
  height: 80%;
  text-align: center;
  word-wrap: break-word;
  border-bottom: 2px solid #222222;
}
.main-content .about-block .about-block__information .information-name {
  font-size: 4vh;
  color: #222222;
}
.main-content .main-form {
  width: 90%;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  min-height: 100px;
}
.main-content .main-form .main-form__inputs-block {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.main-content .main-form .form-block__input {
  width: 20%;
  height: 15%;
  min-height: 50px;
  outline: 0;
  text-indent: 10px;
  border: 1px solid #222222;
  border-radius: 12px;
  max-height: 70px;
}
.main-content .main-form .main-form__range-block {
  width: 15%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.main-content .main-form .main-form__range-block .range-block__input {
  width: 100%;
  border-radius: 8px;
}
.main-content .main-form .main-form__range-block .range-block__input-range {
  height: 32px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  border: 0;
  background-color: transparent;
}
.main-content .main-form .main-form__range-block .range-block__input-range:focus {
  outline: none;
}
.main-content .main-form .main-form__range-block .range-block__input-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #050C12;
  border-radius: 5px;
  border: 0px solid #000000;
}
.main-content .main-form .main-form__range-block .range-block__input-range::-webkit-slider-thumb {
  box-shadow: 0px 0px 6px #000000;
  border: 1px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}
.main-content .main-form .main-form__range-block .range-block__input-range:focus::-webkit-slider-runnable-track {
  background: #050C12;
}
.main-content .main-form .main-form__range-block .range-block__input-range::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #050C12;
  border-radius: 5px;
  border: 0px solid #000000;
}
.main-content .main-form .main-form__range-block .range-block__input-range::-moz-range-thumb {
  box-shadow: 0px 0px 6px #000000;
  border: 1px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background: #FFFFFF;
  cursor: pointer;
}
.main-content .main-form .main-form__range-block .range-block__input-range::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.main-content .main-form .main-form__range-block .range-block__input-range::-ms-fill-lower {
  background: #050C12;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}
.main-content .main-form .main-form__range-block .range-block__input-range::-ms-fill-upper {
  background: #050C12;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}
.main-content .main-form .main-form__range-block .range-block__input-range::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 6px #000000;
  border: 1px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background: #FFFFFF;
  cursor: pointer;
}
.main-content .main-form .main-form__range-block .range-block__input-range:focus::-ms-fill-lower {
  background: #050C12;
}
.main-content .main-form .main-form__range-block .range-block__input-range:focus::-ms-fill-upper {
  background: #050C12;
}
.main-content .main-form .main-form__button {
  height: 10%;
  width: 30%;
  min-height: 50px;
  border-radius: 12px;
  transition-duration: 0.4s;
  border: 1px solid #222222;
  text-indent: 10px;
  color: #222222;
  background-color: transparent;
  margin-top: 5%;
  cursor: pointer;
}
.main-content .main-form .main-form__button:hover {
  background-color: #222222;
  color: #d6d6d6;
}
.main-content .main-form .error-text {
  font-size: 2vh;
  color: rgb(153, 0, 0);
  transition-duration: 0.4s;
}
.main-content .main-form .error-text__no {
  font-size: 2vh;
  color: transparent;
  transition-duration: 0.4s;
}

.competence-list {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.competence-block {
  width: 90%;
  height: 15%;
  min-height: 200px;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
}
.competence-block .delete-block {
  width: 4%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
.competence-block .delete-block .delete-block__button {
  border: 0;
  background-color: transparent;
}
.competence-block .delete-block .delete-block__image {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.competence-block .competence-name {
  font-size: 2.2vh;
  width: 20%;
  text-align: center;
  word-wrap: break-word;
  height: 100%;
  color: #222222;
}
.competence-block .competence-level__number {
  font-size: 2vh;
  color: #222222;
}
.competence-block .competence-info {
  width: 50%;
  height: 100%;
  font-size: 2vh;
  word-wrap: break-word;
  color: #222222;
}
.competence-block .competence-level {
  width: 25%;
  height: 100%;
  text-align: center;
}

.filter-block {
  height: 10vh;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.filter-block .filter-block__select {
  height: 50%;
  outline: 0;
  border-radius: 12px;
  border: 1px solid #222222;
  text-indent: 10px;
}

.can {
  border: 2px solid #006400;
}

.cant {
  border: 2px solid #8b0000;
}

.footer {
  width: 100%;
  height: 10vh;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer-text {
  width: 100%;
  text-align: center;
  color: #d6d6d6;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .competence-block {
    flex-direction: column;
    width: 70%;
  }
  .competence-block .competence-name {
    width: 90%;
    height: 25%;
  }
  .competence-block .competence-info {
    width: 90%;
    text-align: center;
    height: 50%;
  }
  .competence-block .competence-level {
    width: 90%;
    height: 25%;
  }
}
@media screen and (max-width: 500px) {
  .about-block {
    flex-direction: column;
  }
  .about-block .about-block__information {
    width: 90%;
    text-align: center;
  }
  .header .nav-list__element {
    text-align: center;
  }
}

/*# sourceMappingURL=App.css.map */
