$main-color: #222222;
$secondary-color: #d6d6d6;
$competence-can: #006400;
$competence-cant: #8b0000;
$error-color: rgb(153, 0, 0);

header {
    width: 100%;
    height: 10vh;
    background-color: rgba($color: $main-color, $alpha: 1.0);
    nav {
        display: flex;
        width: 90%;
        height: 100%;
        align-items: center;
        justify-content: center;
        ul {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            a {
                text-decoration: none;
                color: $secondary-color;
                transition-duration: 0.4s;
                border-bottom: 1px solid transparent;
                padding: 5px 10px;
            }
            a:hover {
                border-bottom: 1px solid $secondary-color;
            }
            a:visited {
                color: $secondary-color
            }
        }
    }
}
.main-login {
    width: 100%;
    display: flex;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: $secondary-color;
    h1 { 
        width: 90%;
        padding: 20px;
        border-bottom: 3px solid $main-color;
        text-align: center;
        border-radius: 3px;
        color: $main-color;
    }
    .error-text {
        font-size: 2vh;
        color: $error-color;
        transition-duration: 0.4s;
    }
    .error-text__no {
        font-size: 2vh;
        color: transparent;
        transition-duration: 0.4s;
    }
    .main-login__input {
        height: 10%;
        width: 60%;
        min-height: 50px;
        border-radius: 12px;
        outline: 0;
        border: 1px solid $main-color;
        text-indent: 10px;
        color:$main-color;
        margin-top: 5%;
    }
    .main-login__button {
        height: 10%;
        width: 50%;
        min-height: 50px;
        border-radius: 12px;
        transition-duration: 0.4s;
        border: 1px solid $main-color;
        text-indent: 10px;
        color:$main-color;
        background-color: transparent;
        margin-top: 5%;
    }
    .main-login__button:hover {
        background-color: $main-color;
        color: $secondary-color;
    }
}
.about-block {
    width: 90%;
    height: 20%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .about-block__image {
        width: 20vh;
        height: 20vh;
        min-height: 170px;
        min-width: 170px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        cursor: pointer;
        align-items: flex-start;
        border: 1px solid transparent;
        transition-duration: 0.95s;
    }
    .about-block__image:hover {
        animation: image-of-person-rotate 2s linear infinite;
        border: 1px solid $main-color;
    }
    .about-block__information {
        width: 40%;
        height: 100%;
        word-wrap: break-word;
        p {
            font-size: 4vh;
            color: $main-color;
        }
    }
}

.competence-block {
    width: 90%;
    height: 15%;
    min-height: 200px;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    h2 {
        font-size: 2.2vh;
        width: 25%;
        text-align: center;
        word-wrap: break-word;
        height: 100%;
        color: $main-color;
    }
    p {
        font-size: 2vh;
        word-wrap: break-word;
        color: $main-color;
    }
    span {
        font-size: 2vh;
        color: $main-color;
    }
    .competence-info {
        width: 50%;
        height: 100%;
    }
    .competence-level {
        width: 25%;
        height: 100%;
        text-align: center;
    }
}
.can {
    border: 2px solid $competence-can;
}
.cant {
    border: 2px solid $competence-cant;
}
footer {
    width: 100%;
    height: 10vh;
    background-color: rgba($color: $main-color, $alpha: 1.0);
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        width: 100%;
        text-align: center;
        color: $secondary-color;
        margin: 0;
    }
}
@media screen and (max-width: 800px) {
    .competence-block {
        flex-direction: column;
        width: 70%;
        h2 {
            width: 90%;
            height: 25%;
        }
        .competence-info {
            width: 90%;
            text-align: center;
            height: 50%;
        }
        .competence-level {
            width: 90%;
            height: 25%;
        }
    }
    
}
@media screen and (max-width: 500px) {
    .about-block {
        flex-direction: column;
        .about-block__information {
            width: 90%;
            text-align: center;
        }
    }
    header {
        a {
            text-align: center;
        }
    }
    
}

@keyframes image-of-person-rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}