$main-color: #222222;
$secondary-color: #d6d6d6;
$competence-can: #006400;
$competence-cant: #8b0000;

.header {
    width: 100%;
    height: 10vh;
    background-color: rgba($color: $main-color, $alpha: 1.0);
    min-height: 70px;
    .header-nav {
        display: flex;
        width: 90%;
        height: 100%;
        align-items: center;
        justify-content: center;
        .header-nav__list {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            .nav-list__element {
                text-decoration: none;
                color: $secondary-color;
                transition-duration: 0.4s;
                border-bottom: 1px solid transparent;
                padding: 5px 10px;
            }
            .nav-list__element:hover {
                border-bottom: 1px solid $secondary-color;
            }
            .nav-list__element:visited {
                color: $secondary-color
            }
        }
    }
}
main {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondary-color;
    h1 { 
        width: 70%;
        padding: 20px;
        border-bottom: 3px solid $main-color;
        text-align: center;
        border-radius: 3px;
        color: $main-color;
    }
}



.footer {
    width: 100%;
    height: 10vh;
    background-color: rgba($color: $main-color, $alpha: 1.0);
    display: flex;
    align-items: center;
    justify-content: center;
    .footer-text {
        width: 100%;
        text-align: center;
        color: $secondary-color;
        margin: 0;
    }
}
@media screen and (max-width: 500px) {
    .header {
        .nav-list__element {
            text-align: center;
        }
    }
    
}
