header {
  width: 100%;
  height: 10vh;
  background-color: #222222;
}
header nav {
  display: flex;
  width: 90%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
header nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header nav ul a {
  text-decoration: none;
  color: #d6d6d6;
  transition-duration: 0.4s;
  border-bottom: 1px solid transparent;
  padding: 5px 10px;
}
header nav ul a:hover {
  border-bottom: 1px solid #d6d6d6;
}
header nav ul a:visited {
  color: #d6d6d6;
}

.main-login {
  width: 100%;
  display: flex;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #d6d6d6;
}
.main-login h1 {
  width: 90%;
  padding: 20px;
  border-bottom: 3px solid #222222;
  text-align: center;
  border-radius: 3px;
  color: #222222;
}
.main-login .error-text {
  font-size: 2vh;
  color: rgb(153, 0, 0);
  transition-duration: 0.4s;
}
.main-login .error-text__no {
  font-size: 2vh;
  color: transparent;
  transition-duration: 0.4s;
}
.main-login .main-login__input {
  height: 10%;
  width: 60%;
  min-height: 50px;
  border-radius: 12px;
  outline: 0;
  border: 1px solid #222222;
  text-indent: 10px;
  color: #222222;
  margin-top: 5%;
}
.main-login .main-login__button {
  height: 10%;
  width: 50%;
  min-height: 50px;
  border-radius: 12px;
  transition-duration: 0.4s;
  border: 1px solid #222222;
  text-indent: 10px;
  color: #222222;
  background-color: transparent;
  margin-top: 5%;
}
.main-login .main-login__button:hover {
  background-color: #222222;
  color: #d6d6d6;
}

.about-block {
  width: 90%;
  height: 20%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-block .about-block__image {
  width: 20vh;
  height: 20vh;
  min-height: 170px;
  min-width: 170px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: flex-start;
  border: 1px solid transparent;
  transition-duration: 0.95s;
}
.about-block .about-block__image:hover {
  animation: image-of-person-rotate 2s linear infinite;
  border: 1px solid #222222;
}
.about-block .about-block__information {
  width: 40%;
  height: 100%;
  word-wrap: break-word;
}
.about-block .about-block__information p {
  font-size: 4vh;
  color: #222222;
}

.competence-block {
  width: 90%;
  height: 15%;
  min-height: 200px;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
}
.competence-block h2 {
  font-size: 2.2vh;
  width: 25%;
  text-align: center;
  word-wrap: break-word;
  height: 100%;
  color: #222222;
}
.competence-block p {
  font-size: 2vh;
  word-wrap: break-word;
  color: #222222;
}
.competence-block span {
  font-size: 2vh;
  color: #222222;
}
.competence-block .competence-info {
  width: 50%;
  height: 100%;
}
.competence-block .competence-level {
  width: 25%;
  height: 100%;
  text-align: center;
}

.can {
  border: 2px solid #006400;
}

.cant {
  border: 2px solid #8b0000;
}

footer {
  width: 100%;
  height: 10vh;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer h1 {
  width: 100%;
  text-align: center;
  color: #d6d6d6;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .competence-block {
    flex-direction: column;
    width: 70%;
  }
  .competence-block h2 {
    width: 90%;
    height: 25%;
  }
  .competence-block .competence-info {
    width: 90%;
    text-align: center;
    height: 50%;
  }
  .competence-block .competence-level {
    width: 90%;
    height: 25%;
  }
}
@media screen and (max-width: 500px) {
  .about-block {
    flex-direction: column;
  }
  .about-block .about-block__information {
    width: 90%;
    text-align: center;
  }
  header a {
    text-align: center;
  }
}
@keyframes image-of-person-rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

/*# sourceMappingURL=App.css.map */
