$main-color: #222222;
$secondary-color: #d6d6d6;
$competence-can: #006400;
$competence-cant: #8b0000;

header {
    width: 100%;
    height: 10vh;
    background-color: rgba($color: $main-color, $alpha: 1.0);
    min-height: 70px;
    nav {
        display: flex;
        width: 90%;
        height: 100%;
        align-items: center;
        justify-content: center;
        ul {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            a {
                text-decoration: none;
                color: $secondary-color;
                transition-duration: 0.4s;
                border-bottom: 1px solid transparent;
                padding: 5px 10px;
            }
            a:hover {
                border-bottom: 1px solid $secondary-color;
            }
            a:visited {
                color: $secondary-color
            }
        }
    }
}
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondary-color;
    h1 { 
        width: 70%;
        padding: 20px;
        border-bottom: 3px solid $main-color;
        text-align: center;
        border-radius: 3px;
        color: $main-color;
    }
}
.about-block {
    width: 90%;
    height: 20%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .about-block__image {
        width: 20vh;
        height: 20vh;
        min-height: 170px;
        min-width: 170px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        cursor: pointer;
        align-items: flex-start;
        border: 1px solid transparent;
        transition-duration: 0.95s;
    }
    .about-block__image:hover {
        animation: image-of-person-rotate 2s linear infinite;
        border: 1px solid $main-color;
    }
    .about-block__information {
        width: 40%;
        height: 100%;
        word-wrap: break-word;
        p {
            font-size: 4vh;
            color: $main-color;
        }
    }
}

.competence-block {
    width: 90%;
    height: 15%;
    min-height: 200px;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    h2 {
        font-size: 3vh;
        width: 25%;
        text-align: center;
        height: 100%;
        color: $main-color;
    }
    p {
        font-size: 2vh;
        word-wrap: break-word;
        color: $main-color;
    }
    span {
        font-size: 2vh;
        color: $main-color;
    }
    .competence-info {
        width: 50%;
        height: 100%;
    }
    .competence-level {
        width: 25%;
        height: 100%;
        text-align: center;
    }
}
.can {
    border: 2px solid $competence-can;
}
.cant {
    border: 2px solid $competence-cant;
}
footer {
    width: 100%;
    height: 10%;
    background-color: rgba($color: $main-color, $alpha: 1.0);
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        width: 100%;
        text-align: center;
        color: $secondary-color;
        margin: 0;
    }
}

@keyframes image-of-person-rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}