.favorite-page__content {
    width: 80%;
    height: 80%;
    min-height: 80vh;
    display: grid;
    max-width: 80%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-row-gap: .5em;
    justify-items: center;
    grid-column-gap: 1em;
}
.favorite-page__no-content {
    width: 100%;
    height: 80%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.favorite-page__title {
    font-size: 3vh;
    text-align: center;
}
.content {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}